<div id="wrapper">
    <header></header>
    <div id="page-wrapper">
        <h2 class="page-title"> שיעור {{lessonNum}}</h2>
        <div>
            <div class="scrolling-table-wrapper">
                <div class="scrolling-table">
                    <table class="table-striped table-bordered table-hover midrows">
                        <thead class="fixed-tbl">
                            <tr>
                                <th class="small-cell fixed-col1">שם</th>
                                <th class="small-cell fixed-col2">שם משפחה</th>
                                <th class="small-cell">נוכחות</th>
                            </tr>
                        </thead>
                        <tbody class="fixed-tbl">
                            <tr ng-repeat="student in students">
                                <td class="small-cell fixed-col1">{{student.firstname}}</td>
                                <td class="small-cell fixed-col2">{{student.lastname}} </td>
                                <td class="large-cell">
                                    <select ng-options="status.id as status.name for status in statuses" ng-model="student.attendanceStatus" ng-change="UpdateStudentAttendanceStatus(student)">
                                        <option value="" style="display: none"></option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <button type="button" class="button card-control" ng-click="goBack()">חזרה</button>
            <hr>
        </div>
    </div>
</div>